extends layout 

block body 
    h1 Tarefas 
    form(action="", method="POST") 
        // Input Email 
        label(for="Email") Email: 
        input#email(type="email")(type="text", name="E-mail")

        // Input Senha
        label(for="password") Senha: 
        input#password(type="password")(type="Senha")

        //Botão de entrar
        button(type="submit") Entrar: 


